**
!Dockerfile
!nginx/
!nginx/**
!site/
!site/**
!requirements-build.txt
!tools/
!tools/**
!schemas/
!schemas/**
!scripts/
!scripts/**
!manifests/
!manifests/**
!build-input/
!build-input/**
**/__pycache__/
**/*.pyc
