__pycache__/
*.pyc
.env
artifacts/
reports/
allure-results/
allure-report/
build-input/*
!build-input/cache/
build-input/cache/*
!build-input/cache/.gitkeep
.venv/
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
*.auto.tfvars
*.auto.tfvars.json
backend.hcl
crash.log
